/**
 * ! Classes........
 * */

.normal-text {
    font-family: $roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
}

.italic-text {
    font-family: $roboto;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
}

.normal-header {
    font-family: $oswald;
    font-style: normal;
    color: $black;
    line-height: 28px;
}

.italic-header {
    font-family: $oswald;
    font-style: normal;
    line-height: 28px;
    color: $black;
}
