html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: $roboto;
    color: $black-100;
    line-height: 1.6;
    font-size: 16px;
    background-color: $white;
    margin-bottom: 60px; /* Margin bottom by footer height */
    padding-bottom: 100px;
    overflow-x: hidden;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $oswald;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

p {
    @extend .normal-text;
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
    color: $white;
}
