#top-header {
    background-image: url("../images/header-images/bg.jpg");
    height: 450px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid $test-color;
}
