#top-header {
    background-image: url("../images/header-images/bg-18.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: $white;
    margin-bottom: 80px;
    border-bottom: 10px solid $pink-color;
    .header-text {
        text-transform: capitalize;
        padding: 150px 0;
        h1, h2, h3 {
            text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
            line-height: 25px;
        }
        a {
            margin: 20px 0;
            padding: 15px 70px;
        }
    }

}
