/**
* ! Fonts.......
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");

/**
 * * Font Family
 * **/

$roboto:        "Roboto", sans-serif;
$oswald:        "Oswald", sans-serif;
$open-sans:     "Open Sans", sans-serif;

/**
 * ! Color Variables........
 * */


$dark-blue:     #0F346C !default;
$gray-100:      #f8f9fa !default;
$gray-200:      #EEEEEE !default;
$gray-300:      #dee2e6 !default;
$gray-400:      #CCCCCC !default;
$gray-500:      #adb5bd !default;
$gray-600:      #888888 !default;
$gray-700:      #666666 !default;
$gray-800:      #4a4a4a !default;
$gray-900:      #495057 !default;

/**
* Name Color
***/ 
$white:         #FFFFFF !default;
$black:         #000000 !default;
$black-100:     #001A34;
$gray-800:      #333333 !default;
$gray-900:      #222222 !default;
$black-200:     #4a4a4a;
$light-black: #666666;



$blue:          #008cba !default;
$light-100:     #0091ff !default;;
$indigo:        #6610f2 !default;
$purple:        #6f42c1 !default;
$pink:          #e83e8c !default;
$pink-100:      #fd0c96 !default;

$red:           #C00C00 !default;
$red-100:       #F04124 !default;
$red-200:       #f4252e !default;
$red-300:       #DF245E !default;

$orange:        #fd7e14 !default;
$orange-100:    #fe641d !default;
$orange-200:    #F35B2D !default;
$yellow:        #E99002 !default;
$yellow-100:    #FEAB37;
$green:         #43ac6a !default;
$green-100:     #3ddb93 !default;
$green-200:     #25BE69 !default;
$teal:          #20c997 !default;
$cyan:          #5bc0de !default;



/**
* Font Size
***/ 
$base-font-size:    16px;
$sm-font-size:      12px;
$lg-font-size:      24px;
$xl-font-size:      36px;